<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.antlersoft.HostedTools.ConditionBuilder" version="1.0.5896.16595" targetFramework="net40" />
  <package id="com.antlersoft.HostedTools.Framework" version="1.1.0.0" targetFramework="net45" />
  <package id="com.antlersoft.HostedTools.Serialization" version="1.0.5893.20675" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" requireReinstallation="True" />
</packages>