<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="com.antlersoft.HostedTools.PythonIntegration.PackageName" value="MyTools"/>
    <add key="com.antlersoft.HostedTools.PythonIntegration.PythonPath" value="c:/Projects/HostedTools/PythonIntegration/Python"/>
  </appSettings>
</configuration>