<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.antlersoft.HostedTools.ConditionBuilder" version="1.0.5896.16595" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.Framework" version="1.0.5893.23049" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.Framework.Wpf" version="1.0.5895.29675" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.Pipeline" version="1.2.5896.20348" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.Serialization" version="1.0.5893.20675" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.Utility" version="1.0.5893.26941" targetFramework="net452" />
  <package id="com.antlersoft.HostedTools.WpfHostLib" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net452" />
</packages>