<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="com.antlersoft.HostedTools.Framework" version="1.1.2" targetFramework="net40" />
  <package id="com.antlersoft.HostedTools.Framework.Wpf" version="1.0.5907.19645" targetFramework="net40" />
  <package id="com.antlersoft.HostedTools.Serialization" version="1.0.5893.33221" targetFramework="net40" />
  <package id="com.antlersoft.HostedTools.Utility" version="1.0.5896.18841" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net40" />
</packages>